<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <form action = "http://localhost:3000/compareSplit" method = "post">
        <p>Fuzzy Hash </p>
        <p>Hash1: <input type = "text" name = "hash1" required/></p>
        <p>Hash2: <input type = "text" name = "hash2" required/></p>
        <p><input type = "submit" value = "submit" /></p>
        <p>Score:</p>

        <ul>
            {% for key, value in scoreMap.items() %}
            <li>{{ key }}: {{ value }}</li>
            {% endfor %}
        </ul>
            
     </form>   
</head>
<body>
    
</body>
</html>